# Portfolio

## About me

<img src="https://avatars.githubusercontent.com/u/78529635?v=4" style="width: 10%; height: auto;">

Hi, I'm Terry H. Check out my repos!

## Projects


| mtc-backend-prod    |  [Github](https://github.com/landmark23th/mtc-backend-prod.git)   |
| mtc-infra-prod    |  [Github](https://github.com/landmark23th/mtc-infra-prod.git)   |

| mtc-backend-prod    | [Webpage](https://landmark23th.github.io/mtc-backend-prod/) |
| mtc-infra-prod    | [Webpage](https://landmark23th.github.io/mtc-infra-prod/) |



2026 Terry H